.grid-container {
  display: grid;
  background: rgba(var(--white-gray-strong), 0.4);
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    background: rgba(var(--white-gray), 1);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
