.servise-page {
  &__container {
    padding: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;

    @media (min-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1100px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
